.encabezado-terapias{
  margin-top: 20px;
  margin-bottom: 30px;
}
.encabezado-terapias > .texto{
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
#terapias{
  margin-left: 7%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#contenedor-principal .envoltorio-terapia{
  width: 400px;
  height: 400px;
}
.imagen-terapia{
  width: 100%;
}
.terapia{
  text-align: center;
  font-size: 48px;
  font-family: "Holtwood One SC", serif;
  font-weight: 400;
  font-style: normal;
}
#map {
	height: 500px;
	width: 100%;
}